---
# these are the default tags for images; you may want to change those
# according to the version you are installing

#images:
#  tags:
#    bootstrap: "docker.io/openstackhelm/heat:2023.1-ubuntu_jammy"
#    db_init: "docker.io/openstackhelm/heat:2023.1-ubuntu_jammy"
#    db_drop: "docker.io/openstackhelm/heat:2023.1-ubuntu_jammy"
#    ks_user: "docker.io/openstackhelm/heat:2023.1-ubuntu_jammy"
#    ks_endpoints: "docker.io/openstackhelm/heat:2023.1-ubuntu_jammy"
#    octavia_health_manager_init: "docker.io/openstackhelm/heat:2023.1-ubuntu_jammy"

{% if octavia_create_certs %}
pod:
  mounts:
    octavia_api:
      octavia_api:
        volumeMounts:
          - name: pod-run-octavia
            mountPath: /var/run/octavia
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/server_ca.key.pem
            subPath: server_ca.key.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/server_ca.cert.pem
            subPath: server_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/client_ca.cert.pem
            subPath: client_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/client.key-and-cert.pem
            subPath: client.key-and-cert.pem
        volumes:
          - name: pod-run-octavia
            emptyDir: {}
          - name: octavia-certs
            secret:
              secretName: octavia-certs
              defaultMode: 0644
    octavia_worker:
      octavia_worker:
        volumeMounts:
          - name: pod-run-octavia
            mountPath: /var/run/octavia
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/server_ca.key.pem
            subPath: server_ca.key.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/server_ca.cert.pem
            subPath: server_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/client_ca.cert.pem
            subPath: client_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/client.key-and-cert.pem
            subPath: client.key-and-cert.pem
        volumes:
          - name: pod-run-octavia
            emptyDir: {}
          - name: octavia-certs
            secret:
              secretName: octavia-certs
              defaultMode: 0644
    octavia_housekeeping:
      octavia_housekeeping:
        volumeMounts:
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/server_ca.key.pem
            subPath: server_ca.key.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/server_ca.cert.pem
            subPath: server_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/client_ca.cert.pem
            subPath: client_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/client.key-and-cert.pem
            subPath: client.key-and-cert.pem
        volumes:
          - name: octavia-certs
            secret:
              secretName: octavia-certs
              defaultMode: 0644
    octavia_health_manager:
      octavia_health_manager:
        volumeMounts:
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/server_ca.key.pem
            subPath: server_ca.key.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/server_ca.cert.pem
            subPath: server_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/client_ca.cert.pem
            subPath: client_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/client.key-and-cert.pem
            subPath: client.key-and-cert.pem
        volumes:
          - name: octavia-certs
            secret:
              secretName: octavia-certs
              defaultMode: 0644
{% else %}
# please generate the certificates required for octavia;
# check the default values.yaml file provided with the helm
# chart for details about the required overrides for octavia
# pods to bind mount the required certificates before installing
# this helm chart
{% endif %}

conf:
  octavia:
{% if octavia_create_certs %}
    certificates:
      ca_certificate: /etc/octavia/certs/server_ca.cert.pem
      ca_private_key: /etc/octavia/certs/private/server_ca.key.pem
      ca_private_key_passphrase: {{ octavia_key_passwd }}
{% endif %}
    controller_worker:
{% if octavia_create_certs %}
      client_ca: /etc/octavia/certs/client_ca.cert.pem
{% endif %}
      amp_image_owner_id: {{ _amphora_image_info.images[0].owner }}
      amp_secgroup_list: {{ _amphora_sec_group_info.security_groups[0].id }}
      amp_flavor_id: {{ _amphora_flavor_info.flavors[0].id }}
      amp_boot_network_list: {{ _amphora_lb_net_info.networks[0].id }}
      amp_image_tag: amphora
{% if amphora_ssh_enabled %}
      amp_ssh_key_name: {{ amphora_ssh_key_name }}
{% endif %}
{% if octavia_create_certs %}
    haproxy_amphora:
      client_cert: /etc/octavia/certs/private/client.key-and-cert.pem
      server_ca: /etc/octavia/certs/server_ca.cert.pem
{% endif %}
    health_manager:
      bind_port: 5555
      bind_ip: 0.0.0.0
      controller_ip_port_list: {{ lookup('file', '/tmp/octavia_hm_controller_ip_port_list') }}
